/* App.css - Globale Stile */
body {
 margin: 0;
 font-family: Arial, sans-serif;
 background-color: #f4f4f9;
 color: #333;
}

a {
 text-decoration: none;
 color: inherit;
}

a:hover {
 color: #61dafb; /* React-Blau für Hover-Effekte */
}
